* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf5;
  color: #333;
  padding: 40px 20px;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.left, .right {
  flex: 1 1 400px; 
}

.container {
  width: 90%;       /* bukan 1200px */
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.cart-icon {
  font-size: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background: #fff;
}

.left {
  max-width: 52%;
}

.left h1 {
  font-size: 60px;
  font-weight : bold;
  margin-bottom: -3px;
}
.left h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

.left p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.order-btn {
  background: #f28a2e;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 40px;
  transition: transform 0.2s;
}
.back-btn {
  background: #f28a2e;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 40px;
  transition: transform 0.2s;

}

.back-btn:hover{
  transform: translateY(-4px);
}

.features {
  display: flex;
  gap: 40px;
  font-size: 14px;
}

.features div strong {
  font-size: 22px;
  display: block;
}

.right {
  position: relative;
}

.right img {
  max-width: 350px;
}

.discount-badge {
  position: absolute;
  top: 130%;
  left: 270px;
  transform: translate(-50%, -50%);
  background: #f28a2e;
  color: #fff;
  padding: 30px 20px;
  border-radius: 100%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

